# Default ignored files
/shelf/
/workspace.xml

# User-specific configurations
/caches/
/libraries/
/.name
/compiler.xml
/copyright/profiles_settings.xml
/encodings.xml
/misc.xml
/scopes/scope_settings.xml
/vcs.xml
/jsLibraryMappings.xml
/datasources.xml
/dataSources.ids
/sqlDataSources.xml
/dynamic.xml
/uiDesigner.xml
